services:
  navigation:
    build:
      context: ./navigation
      dockerfile: Dockerfile
    image: nycusystemlab/navigation:latest
    container_name: navigation
    network_mode: "host"
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev:/dev
      - /var/run/dbus:/var/run/dbus
      - /run/udev:/run/udev
      - /sys/class/gpio:/sys/class/gpio
      - /sys/devices:/sys/devices
      - /proc/device-tree:/proc/device-tree
      - /etc/localtime:/etc/localtime:ro
      - ./navigation/src/hdl_ws:/root/hdl_ws/src
      - ./navigation/src/lidar_ws:/root/lidar_ws/src
    entrypoint: ["/root/entrypoint.sh"]
    command: ["bash", "-c", "while true; do sleep 1000; done"]
